body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.hello {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

.data-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
}

.grid-header {
  font-weight: bold;
  background-color: #667eea;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.grid-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.grid-item:nth-child(odd) {
  background-color: #f1f1f1;
}

.grid-item:nth-child(even) {
  background-color: #f9f9f9;
}

h1 {
  font-size: 2rem;
  color: #667eea;
  text-align: center;
  margin-top: 20px;
}

h1:not(:first-child) {
  color: #e74c3c;
}

/* Responsive styles */
@media (max-width: 950px) {
  /* .data-grid {
    grid-template-columns: repeat(2, 1fr);
  } */

  .grid-header, .grid-item {
    font-size: 10px;
    padding: 5px;
  } 
}

@media (max-width: 640px) {
 /* .data-grid {
    grid-template-columns: 1fr;
  } */

  .grid-header, .grid-item {
    font-size: 7px;
    padding: 5px;
    text-align: left;
  } 
}
@media (max-width: 400px) {
 /* .data-grid {
    grid-template-columns: 1fr;
  } */

  .grid-header, .grid-item {
    font-size: 5px;
    padding: 2px;
    text-align: left;
  } 
}